.navegador{
    border-bottom: 5px solid #f56a6a;
    display: flex;
    justify-content: space-between;
}
.iconos{
    margin-top: 1em;
}
.foto{
    display: flex;
}
body{
    padding: 10px;
}

li{
list-style: none;
}
.seccion1{
    padding: 2em;
}
.tatuaje{
    border-radius: 20px;
    width: 40vw;

    margin: auto;
}
.foto{
    margin: auto;
}
.foto1{
    margin: auto;
}
.texto{
    margin: auto;
}
.subt{
    margin: auto ;
}
.parrafo{
    padding: 1em 8em 1em 0em;
}
p{
    color: #7f888f;
}
#bt{
    border-radius: 4px;
    border: 2px solid #e77474 ;
    color: #f56a6a;
    background-color:white;
    padding: 10px 70px;
}
nav i{
    padding: 5px;
}
span{
    font-weight: bolder;
    color: black;
}
h1{
    font-family: sans-serif;
    font-size: 2em;
    line-height: 50px;
}
p{
    font-family: 'Open Sans';
    line-height: 1.5em;
    text-align: justify;
}

nav>div>i{
    color: #7f888f;
}


.segundot{
    width: 20vw;
    border-bottom: #f56a6a solid 3px;
}
h2{
    display: inline-block;
}
li div  i{
    color: #f56a6a;
    background: white;
    padding: .5em .5em;
    font-size: 2.5em;
}
ul div li{
    display: flex;
}
ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, 50%);
    padding: 2em 0em;
}
hr{
    border-bottom: #7f888f solid 1px;
}
@media only screen and (max-width:700px){
    .foto{
        display: inline;
    }
    .tatuaje{
        border-radius: 20px;
        width:80vw;
        margin: 30px auto;
    }
    .foto{
        margin: auto;
    }
    .texto{
        margin: auto;
    }
    .subt{
        margin: auto;
        text-align: center;
    }
    .parrafo{
        padding: auto;
    }
    ul{
        display: flex;
        flex-direction: column;
    }
    .parrafo{
        padding: 1em;
    }
    
}